<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_onepage_controller_success_action">
        <observer name="MageCloud_OrderEmailCopy::create_orderemailcopy_processor"
                  instance="MageCloud\OrderEmailCopy\Observer\SalesOrderAfterSave"/>
    </event>
</config>
