<?xml version="1.0"?>
<!--
  ~ Copyright (c) 2019. Volodymyr Hryvinskyi.  All rights reserved.
  ~ @author: <mailto:volodymyr@hryvinskyi.com>
  ~ @github: <https://github.com/hryvinskyi>
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\Pool" type="Magento\Ui\DataProvider\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="disable-tier-price" xsi:type="array">
                    <item name="class" xsi:type="string">Kartbutikken\Catalog\Ui\DataProvider\Product\Form\Modifier\DisableTierPrice</item>
                    <item name="sortOrder" xsi:type="number">170</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
</config>
